* {
    font-family: 'Montserrat', sans-serif;
}

#prev {
    position: absolute;
    left: 0;
    top: 40%;
    background-color: gray;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
}

#next {
    position: absolute;
    right: 0;
    top: 40%;
    background-color: gray;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
}

.slide-container {
    width: 800px;
    height: 500px;
    left: 0;
    margin: 0 auto;
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
    border: 5px solid gray;
}

.slide {
    width: 800px;
    height: 500px;
    left: 0;
    margin: 0 auto;
    position: relative;
    font-family: sans-serif;
}

.slide-single {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    margin: 60px auto 40px auto;
}

.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot.active {
    background-color: black;
}


.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 10px;
    cursor: pointer;
}