<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Landing</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <section class="container">
        
            <header class="header container__header">
                <figure class="item header__item">
                    <img class="icon-logo item__icon-logo" src="img/cube.png" alt="">
                    <h1 class="text-logo item__text-logo">NoTab</h1>
                </figure>

                <figure class="login header__login">
                    <img class="icon-login login__icon-login" src="img/login_icon.png" alt="">
                    <a class="text-login login__text-login login_text-login_active login_text-login_size" href="#">
                        Login
                    </a>
                </figure>
            </header>
            <div class="main">
                <div class="body-one main__body-one">
                    <div class="textart body-one__textart">
                        <section class="text textart__text">
                            <div class="bold text__bold text_bold_scale">
                                    A platform<br>
                                    that works smarter
                            </div>
                            <figure class="text-icon text__text-icon">
                                    <img class="icon text-icon__icon" src="img/line.png" alt="">
                                    <figcaption class="words text-icon__words text-icon_words_scale">
                                        NoTab allows bars & nightclubs <br>
                                        to manage, understand, and grow <br>
                                        their business from a single dashboard
                                    </figcaption>
                            </figure>
                        </section>
                        <figure class="icons textart__icons">
                            <img class="iphoneXR icons__iphoneXR" src="img/iphoneXR.png" alt="">
                        </figure>
                    </div>
                    <div class="ending body-one__ending">
                        <h2 class="text-app ending__text-app">DOWNLOAD OUR APP</h2>
                        <figure class="stores ending__stores">
                            <img class="google stores__google" src="img/google_play.png" alt="">
                            <img class="apple stores__apple" src="img/app_store.png" alt="">
                        </figure>
                    </div>
                </div>
                <div class="body-two main__body-two">
                    <section class="textboxes body-two__textboxes">
                        <div class="textbox textboxes__textbox">
                            <div class="setpos textbox_setpos">
                                <h2 class="contact textbox__contact">
                                    Would like to become <br>
                                    a member, please <br>
                                    contact us</h2>
                                <a href="" class="link textbox__link textbox_link_size">
                                    support@notab.com</a>
                            </div>
                        </div>
                        <section class="textbox textboxes__textbox">
                            <div class="setpos textbox_setpos">
                                <h2 class="contact textbox__contact">
                                    Already a partner?
                                </h2>
                                <a href="" class="link textbox__link textbox_link_size">
                                    Login
                                </a>
                            </div>
                        </section>
                    </section>
                    <div class="text-picture body-two__text-picture">
                        <img class="picture text__picture" src="img/iphoneXR.png" alt="">
                        <article class="mission text-picture__mission">
                            <h2 class="bold mission__bold">
                                Our mission
                                and vision
                            </h2>
                            <div class="words mission__words words_scale">
                                While technology is our sweet spot,
                                we've developed our vision alongside
                                our customers to ensure your
                                everyday problems are solved
                                through simplistic tools. And as your
                                business grows, we'll grow right
                                alongside with you.
                            </div>
                        </article>
                    </div>
                </div>
                <div class="body-three main__body-three">
                    <figure class="iphones body-three__iphones">
                        <img class="iphoneXR iphones__iphoneXR iphones_iphoneXR_scale" src="img/iphoneVerOne.png" alt="">
                        <img class="iphoneXR iphones__iphoneXR iphones_iphoneXR_scale" src="img/iphoneVerTwo.png" alt="">
                    </figure>
                    <article class="mission body-three__mission">
                        <h2 class="bold mission__bold">
                            ID Scanner
                        </h2>
                        <div class="words mission__words">
                            Scan, verify, and collect data on each
                            person that walks through your door
                            to humanize your data. You also get
                            a digital 86 list as well as a citywide
                            ban list to keep your venue safe.
                        </div>
                    </article>
                </div>
                <div class="body-four main__body-four">
                    <article class="mission body-four__mission">
                        <h2 class="bold mission__bold">
                            BI Tool Integration
                        </h2>
                        <div class="words mission__words">
                            We use Business Intelligence Tool that allows<br>
                            you to be updated what is happening in your<br>
                            business just by one click. Track revenue<br>
                            and profit by one click.<br>
                        </div>
                    </article>
                    <figure class="graphics body-four__graphics">
                        <img class="graphic graphics_graphic_bw" src="img/black-white-graphics.png" alt="">
                        <img class="graphic graphics_graphic_circ" src="img/circles.png" alt="">
                        <img class="graphic graphics_graphic_color" src="img/color-circle.png" alt="">
                        <img class="graphic graphics_graphic_dot" src="img/dot-graphic.png" alt="">
                        <img class="graphic graphics_graphic_twocol" src="img/two-color-graphic.png" alt="">
                        <img class="graphic graphics_graphic_data" src="img/data-graphic.png" alt=""> 
                        <img class="graphic graphics_graphic_proc" src="img/circels-procent.png" alt="">
                    </figure>
                </div>
                <div class="body-five main__body-five">
                    <article class="mission body-five__mission">
                        <h2 class="bold mission__bold">
                            QR code
                        </h2>
                        <div class="words mission__words">
                            No more conflict situations due to
                            wrong order. The guest selects the
                            positions, and after that an
                            individual QR code of his order
                            is generated
                        </div>
                        <figure class="stores mission__stores">
                            <img class="google stores__google" src="img/google_play.png" alt="">
                            <img class="apple stores__apple" src="img/app_store.png" alt="">
                        </figure>
                    </article>
                    <figure class="iphones body-five__iphones">
                        <img class="iphoneXR iphones__iphoneXR" src="img/iphoneXRorder-one.png" alt="">
                        <img class="iphoneXR iphones__iphoneXR iphones_iphoneXR_marg" src="img/iphoneXRorder-two.png" alt="">
                    </figure>
                </div>
                <div class="body-six main__body-six">
                    <figure class="iphoneQR body-six__iphoneQR">
                        <img class="iphoneXR iphoneQR__iphoneXR" src="img/iphoneQR.png" alt="">
                    </figure>
                    <article class="mission body-six__mission">
                        <h2 class="bold mission__bold">
                            Generate your
                            QR-code
                        </h2>
                        <div class="words mission__words mission_words_scale">
                            The guest QR code is scanned
                            by the staff and automatically sent
                        </div>
                    </article>
                    <figure class="back body-six__back">
                        <img class="background-six back__background-six" src="img/body-six-blur.png" alt="">
                    </figure>
                </div>
                <div class="body-seven main__body-seven">
                    <article class="mission body-seven__mission">
                        <h2 class="bold mission__bold">
                            Easier ordering.<br>
                            Happier guests.
                        </h2>
                        <div class="words mission__words">
                            NoTab makes it simple for patrons to easily
                        </div>
                    </article>
                    <section class="iphone-message body-seven__iphone-message">
                        <img class="iphone-snake iphone-back__iphone-snake" src="img/iphone-snake.png" alt="">
                        <div class="textbox iphone-message__textbox iphone-message_textbox_pos1">
                            <h2 class="contact textbox__contact textbox_contact_scale">
                                No more lost or<br>
                                forgotten credit cards
                            </h2>
                        </div>
                        <div class="textbox iphone-message__textbox iphone-message_textbox_pos2">
                            <h2 class="contact textbox__contact textbox_contact_scale">
                                No more lost or<br>
                                forgotten credit cards
                            </h2>
                        </div>   
                       <div class="textbox iphone-message__textbox iphone-message_textbox_pos3">
                            <h2 class="contact textbox__contact textbox_contact_scale">
                                No more split<br>
                                your tab
                            </h2>
                        </div>   
                        <div class="textbox iphone-message__textbox iphone-message_textbox_pos4">
                            <h2 class="contact textbox__contact textbox_contact_scale">
                                Skip the line
                            </h2>
                        </div>
                    </section>
                </div>
                <div class="body-eight main__body-eight">
                    <figure class="notab-iphone body-eight__notab-iphone">
                        <img class="iphoneXR-notab notab-iphone__iphoneXR-notab" src="img/notab-iphone.png" alt="">
                    </figure>
                </div>
                <div class="body-last main__body-last">
                    <article class="mission body-eight__mission">
                        <h2 class="bold mission__bold">
                            Get In Touch
                        </h2>
                        <div class="words mission__words  mission_words_last-scale">
                            Have questions about Noble or just want to say hello?
                            Drop us a line and a member of our team will getback to you shortly.
                        </div>
                    </article>
                    <form action="#" class="inputs body-last__inputs" onsubmit="return false">
                        <input placeholder="Name" class="input-text  inputs__input-text">
                        <input placeholder="Venue Name" class="input-text inputs__input-text">
                        <div class="city-state inputs__city-state">
                            <input placeholder="Venue City" class="input-text inputs__input-text inputs_input-text_scale">
                            <input placeholder="State City" class="input-text inputs__input-text inputs_input-text_scale">
                        </div>
                        <input placeholder="Email" class="input-text inputs__input-text">
                        <input placeholder="Subject" class="input-text inputs__input-text">
                        <textarea rows="7" placeholder="Message" class="input-text inputs__input-text"></textarea>
                        <button type="submit" id="button" class="button-send inputs__button-send">Send</button>
                    </form>
                    <div class="footer body-last__footer">
                       <section class="download footer__download">
                            <h2 class="link download__link">DOWNLOAD OUR APP</h2>
                            <figure class="stores download__stores">
                                <img class="google stores__google" src="img/google_play.png" alt="">
                                <img class="apple stores__apple" src="img/app_store.png" alt="">
                            </figure>
                       </section>
                       <div class="foot footer__foot">
                            <section class="left-f foot__left-f">
                                <h2 class="text-logo left-f__text-logo-end foot_marg">NOTAB</h2>
                                <h2 class="support foot_scale foot_marg">
                                    Contact us:
                                    support@notab.com
                                </h2>
                                <h2 class="2020-notab foot_scale foot_marg">© 2020 - NoTab®</h2>
                            </section>
                            <section class="right-f foot__right-f">
                                <h2 class="terms foot_scale foot_marg">Terms to use</h2>
                                <h2 class="privacy foot_scale foot_marg">Privacy policy</h2>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        
        <script type="text/javascript">
            $('document').ready(function() {
              $('.button-send').on('click', function() {
                $('.inputs .input-text').each(function() {
                  if ($(this).val() != '') {
                    console.log(32);
                    $(this).removeClass('empty_field');
                  } else {
                    console.log(33);
                    $(this).addClass('empty_field');
                  }
                });
              });
            });
          </script>
    </body>
</html>